.Weather {
  border: 2px solid #dadce0;
  font-family: arial, sans-serif;
  color: #878787;
  padding: 16px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  list-style: none;
}

.Weather .temperature {
  font-weight: 400;

  font-size: 48px;
  line-height: 56px;
  color: #202124;
  letter-spacing: normal;
  font-family: Google Sans, arial, sans-serif;

  display: inline;
}

.Weather .unit {
  --center-width: 652px;
  --rhs-width: 369px;
  --center-abs-margin: calc((100vw - 1065px) / 2);
  --rhs-margin: 44px;
  font-family: arial, sans-serif;
  font-weight: normal;
  color: #202124;
  font-size: 16px;
  line-height: 1;
  display: inline;
  position: relative;
  top: -24px;
}

.Weather img {
  height: 64px;
  margin-right: 10px;
  display: inline-block;
}
